.Title{
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    &::before{
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #0381ff38;
        width: 6rem;
        height: .4rem;
        border-radius: 50px;
       
    }
    &::after{
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #037FFF;
        width: 3rem;
        height: .4rem;
        border-radius: 50px;
    }

    @media screen and (max-width: 411px){
        span{
            font-size: 70% !important;
            position: absolute !important;
            top: 15% !important;
            left: 0 !important;
            // font-size: 5rem;
            opacity: 0.07 !important;
        }
    }
    @media screen and (max-width: 1500px){
        span{
            font-size: 2.8rem !important;
            position: absolute !important;
            top:50% !important;
            left: 10% !important;
            opacity: 0.07 !important;
        }
    }
    @media screen and (max-width: 700px){
        span{
            font-size: 2.8rem !important;
            position: absolute !important;
            top:50% !important;
            left: 10% !important;
            opacity: 0.07 !important;
        }
    }
    @media screen and (max-width: 480px){
        span{
            position: absolute !important;
            top: 70% !important;
            left: 8% !important;
            line-height: 40px !important;
            font-size: 2.5rem !important;
            opacity: 0.07 !important;
        }
        h2{
            font-size: 70%;
        }
        h3{
            font-size: 70%;
        }
    }
    // span{
    //     position: absolute;
    //     top: 15%;
    //     left: 0;
    //     font-size: 5rem;
    //     opacity: 0.07;
    // }
}